/*******************************************************************************
*                                                                              *
*                               Kyoto University                               *
*                               Okuno laboratory                               *
*                                Boomer project                                *
*                                                                              *
*******************************************************************************/

.BuildInfo {
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 5px;
	z-index: 1;
}

.BuildInfo .Title {
	display: block;
	font-size: x-small;
	margin-bottom: 5px;
	text-align: right;
}

.BuildInfo .Title:after {
	content: " [+]";
}

.BuildInfo .Title.Visible:after {
	content: " [-]";
}

.BuildInfo .Title:hover {
	cursor: pointer;
	color: RoyalBlue;
	text-decoration: underline;
}

.BuildInfo .Label {
	font-weight: bold;
}

.BuildInfo .Info {
	border: 1px dashed black;
	border: 3px black solid;
	padding: 5px 10px;
	margin-left: 10px;
	font-size: x-small;
	background-color: white;
}

.TestSuite {
	font-size: small;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #6fb2e5;
	box-shadow: 3px 3px 3px #888, inset 0 10px 20px #b6f9ff;
	-moz-box-shadow: 0px 0px 3px #888, inset 0 10px 20px #b6f9ff;
	-webkit-box-shadow: 0px 0px 3px #888, inset 0 10px 20px #b6f9ff;
}

.TestLog {
	position: relative;
}

/* Top-level test suites */
.TestRoot > .TestLog > .TestSuite, .TestRoot > .TestSuite {
	margin-left: 0px;
}

.TestSuite > .Header {
	cursor: pointer;
	padding: 3px;
	padding-left: 15px;
	/*background-color: #6fb2e5;
	box-shadow: inset 0 10px 20px #b6f9ff;
	-moz-box-shadow: inset 0 10px 20px #b6f9ff;
	-webkit-box-shadow: inset 0 10px 20px #b6f9ff;*/
}

.TestSuite > .Header > .Name {
	display: inline-block;
	font-size: medium;
	font-variant: small-caps;
	font-weight: bold;
	vertical-align: bottom;
}

.TestSuite > .Header.Hidden {
	
}

.TestSuite > .Header > .Summary {
	display: inline-block;
	margin-left: 20px;
	vertical-align: bottom;
	font-size: x-small;
}

.TestSuite > .Header > .Summary .SuccessRate {
	font-weight: bold;
}

.TestSuite > .Header > .Summary .Time {
	font-weight: bold;
}

.TestSummary {
	margin-bottom: 15px;
}

.TestSummary > .Header {
	padding: 7px;
	padding-left: 15px;
	cursor: auto;
	background-color: #6fb2e5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: inset 0 10px 20px #b6f9ff;
	-moz-box-shadow: inset 0 10px 20px #b6f9ff;
	-webkit-box-shadow: inset 0 10px 20px #b6f9ff;
}

.TestSummary > .Header > .Name {
	vertical-align: top;
}

.TestSummary > .Header > .Summary {
	font-size: x-small;
}

.TestSummary > .Header > .Summary > .Headline {
	font-size: small;
}

.TestCases {
	display: table;
	width: 100%;
}

.TestCaseColumns {
	display: table-row;
}

.TestCaseColumns > div {
	display: table-cell;
}

.TestCase {
	display: table-row;
	border-top: none;
	font-size: x-small;
}

/* Test cases that follow a test suite block */
.TestSuite + .TestCase {
	
}

.TestCase.Passed {
	background-color: YellowGreen;
}

.TestCase.Failed {
	background-color: OrangeRed;
}

.TestCase > .Name {
	display: table-cell;
	font-size: small;
	font-weight: normal;
	padding: 2px 6px;
	padding-left: 25px;
}

.TestCase > .Messages {
	display: table-cell;
	padding: 2px 6px;
}

.TestCase > .TestingTime {
	display: table-cell;
	padding: 2px 6px;
	width: 110px;
	text-align: right;
}

/******************************************************************************/

